asgiref==3.11.0
certifi==2026.1.4
charset-normalizer==3.4.4
colorama==0.4.6
Django==6.0.1
django-admin-ordering==0.20.0
django-appconf==1.2.0
django-grappelli==4.0.3
django-js-asset==3.1.2
django-livereload-server==0.5.1
django-obfuscate==0.1.2
django-statistics-dashboard==1.0
django-tailwind==4.4.2
django_compressor==4.6.0
dotenv==0.9.9
gunicorn==24.1.1
idna==3.11
json2html==1.3.0
mod_wsgi==5.0.2
mysqlclient==2.2.7
mysqlx-connector-python==9.6.0
packaging==23.1
pip-review==1.3.0
protobuf==5.29.4
pyfiglet==1.0.4
pytailwindcss==0.3.0
python-dotenv==1.2.1
rcssmin==1.2.2
requests==2.32.5
rjsmin==1.2.5
setuptools==80.9.0
setuptools-git==1.2
six==1.16.0
sqlparse==0.5.5
tabulate==0.9.0
tailwind==3.1.5b0
tornado==6.5.4
tzdata==2025.3
urlbuster==0.5.1
urllib3==2.6.3
